##imports
import(
MASS,
lattice,
stats,
utils,
graphics,
grDevices)

##[exports]
export(
tlm,
summary.tlm,
print.tlm,
print.summary.tlm,
tsum,
print.tsum,
tlm.control,
dof.profile,
tscore)

##[S3 Methods]
S3method(summary, tlm)
S3method(print, tlm)
S3method(print, summary.tlm)
S3method(print, tsum)

